<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="name_report" content="width=device-width, initial-scale=1.0">
    <title>Вторая страница</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <style>
        .center-link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

    </style>
</head>

<body>
    <p class = "text" id="report">Отчёт {{ type_report }}</p>
    <p class="text" id="report_name">{{ name_report }}</p>
    <div class="buttons">
        <div>
            {{ report_form.download_report(class_="button") }}
        </div>
        <div>
            {{ report_form.upload_report(class_="button") }}
        </div>
        <div>
            {{ report_form.add_to_server(class_="button") }}
        </div>
    </div>
    <div class="center-link">
        <a class="text" href="C:\Users\ACER PC User\Desktop\Новая папка\new.html">Вернуться к формированию отчет</a>
    </div>
    <script src="{{ url_for('static',filename='js/script.js') }}">
    </script>
</body>

</html>