<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="name_report" content="width=device-width, initial-scale=1.0">
    <title>Вторая страница</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
    <p class = "text" id="report">Отчёт {{ type_report }}</p>
    <p class="text" id="report_name">{{ name_report }}</p>
    <div class="buttons">
        <div>
            <input class="button" value="Скачать отчёт" type="submit" onclick="dowland_report();">
        </div>
        <div>

            <input class="button" value="Загрузить отчёт" type="submit" onclick="upload_report();">
        </div>
        <div>
            <input class="button" value="Добавить отчёт на сервер" type="submit" onclick="add_server();">
        </div>
    </div>
    <a class="text" href="C:\Users\ACER PC User\Desktop\Новая папка\new.html">Вернуться к формированию отчет</a>
    <script src="{{ url_for('static',filename='js/script.js') }}">
    </script>
</body>

</html>